#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #252535;
  color: white;
  transition: 0.3s;
  overflow: hidden;
  z-index: 100;
}

.sidenav.open {
  width: 300px;
}

.sidenav.closed {
  width: 60px;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.toggle-btn:hover{
  background: none;
}

.logo-text {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.nav-list {
  list-style: none;
  padding: 0;
  font-size: 25px;
}

.nav-list button {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  color: white;
  text-align: left;
  cursor: pointer;
  transition: 0.2s;
}

.nav-list button:hover {
  background: #353545;
}

.nav-list button.active {
  background: #454555;
  font-weight: bold;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.toggle-btn.open {
  transform: rotate(90deg) scale(1.4); 
}